rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read documents in the 'blogPosts' collection.
    match /blogPosts/{postId} {
      allow read: if true;
      allow write: if false; // Disallow writing from the client-side.
    }
  // Custom default security rules for FireCMS. Modifying this rule will the usage of the FireCMS.
    match /{document=**} {
        allow read, write: if request.auth.token.fireCMSUser;
    }
	}
}